/* --------- Base -------- */

body {
    font-family: 'Lato', arial, sans-serif;
    color: #4a4f5a;
    background: url("../img/noisy_grid.png");
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
a {
    color: #349ab8;
}
a:hover {
    color: #2E88A2;
    text-decoration: none;
}
/* --------- Navbar --------- */

.navbar-header {
    padding: 0 10px;
}
.navbar-default {
    background-color: #6f6f6f;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}
.navbar-default .navbar-brand {
    color: #45F3BC;
    font-size: 30px;
}
.navbar-default .navbar-brand:hover {
    color: #45F3BC;
}
.container>.navbar-header,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container-fluid>.navbar-collapse {
    width: 100%;
}
.navbar-default .navbar-nav>li>a {
    color: #fcfcfc;
    font-size: 20px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #45F3BC;
}
.nav>li {
    float: left;
}
/* --------- Header -------- */

.header {
    padding: 56px 0 0;
    background: #fefefe;
    border-top: 10px solid #349ab8;
    border-bottom: 1px solid #f5f5f5;
}
.header .profile-img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px
}
.profile-brief {
    font-family: 'Source Code Pro';
}
.profile-img-col {
    padding-right: 0;
}
.header pre {
    font-size: 14px;
    word-wrap: normal;
    background-color: inherit;
    border: none;
    border-radius: 0;
}
/* ------ Main ------ */

#main {
    margin-top: 20px;
}
#main h2 {
    margin-top: 10px;
}
.panel.panel-default {
    padding: 30px;
}
.projects {
    border: 1px solid #ededed;
    margin: 20px 0;
    padding: 5px;
}
/* ------- Footer ----- */

footer {
    background-color: #6f6f6f;
    color: #fcfcfc;
    padding: 10px;
}
/* Large displays */

@media (min-width: 1200px) {
    .header pre {
        font-size: 16px;
    }
}
/* Extra small devices (phones, less than 768px) */

@media (max-width: 767px) {
    .navbar-right {
        float: right!important;
    }
    .header pre {
        font-size: 10px;
    }
    #main p,
    .projects p,
    .projects a {
        font-size: 16px;
    }
}
